header {
    font-family: 'Helvetica', san-serif;
}

img {
    display: block;
    margin: auto;
    height: auto;
    width: 500px;
    border-radius: 25px;
}

img:hover {
    border-radius: 0px;
}

.green-text {
    color: rgb(0,128,0);
}
.purple-text {
    color: rgb(75,0,130);     
 }

a:visited {
    color: rgb(255,0,0);
   }

 a:hover {
       color: rgb(75,0,130,.5);
 }

 .center {
       text-align: center;
}

.Gelasio {
    font-family: 'Gelasio', serif;
    font-size: 16px;
}

.roboto {
    font-family: 'Roboto', san-serif;
}

main {
    text-align: left;
}

/* 
.table-left {
    width: 240px;
    display: inline-block;
}

.table-right {
    width: 240px;
    display: inline-block;
}
*/

.container {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 50%;
}

.margin-right {
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 245px;
    
}

margin-left {
    margin-left: 10px;
    margin-bottom: 50px;
}